<!DOCTYPE html>
<html ng-app="orgChart" ng-controller="AppCtrl">

<head>
    <meta charset="utf-8">
    <title>EMC Org Chart</title>
    <!--<base href="/App/" />-->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Org Chart">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css?v=11_9" />
        
        <link rel="stylesheet" type="text/css" href="vendor/angular-busy/dist/angular-busy.min.css?v=11_9" />
        
        <link rel="stylesheet" type="text/css" href="assets/sprite.css?v=11_9" />
        
        <link rel="stylesheet" type="text/css" href="assets/emc-orgchart-0.0.1.css?v=11_9" />
        

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lte IE 9]>
                  <script type="text/javascript" src="../App/lib/oldBrowserDetect/html5shiv.min.js"></script>
                  <script type="text/javascript" src="../App/lib/oldBrowserDetect/respond.min.js"></script>
                  <script type="text/javascript" src="../App/lib/oldBrowserDetect/jquery-1.9.1.min.js"></script>
            <![endif]-->

            
                <script type="text/javascript" src="vendor/jquery/dist/jquery.min.js?v=11_9"></script>
                
                <script type="text/javascript" src="vendor/angular/angular.min.js?v=11_9"></script>
                
                <script type="text/javascript" src="vendor/angular-bootstrap/ui-bootstrap.min.js?v=11_9"></script>
                
                <script type="text/javascript" src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js?v=11_9"></script>
                
                <script type="text/javascript" src="vendor/angular-ui-router/release/angular-ui-router.min.js?v=11_9"></script>
                
                <script type="text/javascript" src="vendor/angular-mocks/angular-mocks.js?v=11_9"></script>
                
                <script type="text/javascript" src="src/common/appMock.js?v=11_9"></script>
                
                <script type="text/javascript" src="vendor/restangular/dist/restangular.min.js?v=11_9"></script>
                
                <script type="text/javascript" src="vendor/lodash/lodash.min.js?v=11_9"></script>
                
                <script type="text/javascript" src="vendor/angular-busy/dist/angular-busy.min.js?v=11_9"></script>
                
                <script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js?v=11_9"></script>
                
                <script type="text/javascript" src="vendor/angular-sanitize/angular-sanitize.min.js?v=11_9"></script>
                
                <script type="text/javascript" src="src/app/app.js?v=11_9"></script>
                
                <script type="text/javascript" src="src/app/appheader/appheader.js?v=11_9"></script>
                
                <script type="text/javascript" src="src/app/directives/appMessage/appMessage.js?v=11_9"></script>
                
                <script type="text/javascript" src="src/app/directives/loadingTemplate/loadingTemplate.js?v=11_9"></script>
                
                <script type="text/javascript" src="src/app/directives/topOfChart/topOfChart.js?v=11_9"></script>
                
                <script type="text/javascript" src="src/app/home/home.js?v=11_9"></script>
                
                <script type="text/javascript" src="src/app/person/person.js?v=11_9"></script>
                
                <script type="text/javascript" src="src/common/appMock.js?v=11_9"></script>
                
                <script type="text/javascript" src="src/common/commonHelper.js?v=11_9"></script>
                
                <script type="text/javascript" src="src/common/constanst.js?v=11_9"></script>
                
                <script type="text/javascript" src="src/common/employeeService.js?v=11_9"></script>
                
                <script type="text/javascript" src="src/common/exceptionHandler.js?v=11_9"></script>
                
                <script type="text/javascript" src="templates-common.js?v=11_9"></script>
                
                <script type="text/javascript" src="templates-app.js?v=11_9"></script>
                


</head>

<body ng-click="">
    <div id="oldbrowser" class="oldbrowserClass"></div>

    <div id="page-view">
        <div class="page-bg-header">
            <div class="navbar navbar-default page-header">
                <div class="container-fluid pageheader-container">
                    <div class="pageheader-inner">
                        <a class="emc-navbar-brand" href="#">
                            <div class="emc-logo">
                                <svg viewBox="0 0 100 100" width="35" height="35" class="svg-emc-logo svg-emc-logo-dims"></svg>
                            </div>
                        </a>

                        <div class="nav pull-left">
                            <span class="navbar-text appNameClass">ORG <span class=pageheader-text>CHART</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <top-of-chart></top-of-chart>
        <div class="main-view">
            <app-header></app-header>
            <app-message></app-message>
            <div ui-view="main" autoscroll class="main">
            </div>
        </div>
        <div class="footer">
            <p>&copy;2015 EMC Corporation. All Rights Reserved</p>
        </div>
    </div>

    <div loading-template cg-busy="{ promise: myPromise, message: 'Please wait...', wrapperClass: 'cg-busyspinner' }"></div>

    <script type="text/javascript">
        $(document).ready(function () {
            function loadOutOfDateBrowserMessage() {
                    $("#oldbrowser").load("../App/oldBrowserDetect.html", function () {
                        document.getElementById('oldbrowser').style.display = "block";
                    });
                }
                // display "old browser" message for legacy browsers
            if (navigator.appName == 'Microsoft Internet Explorer') {
                var rv = -1;
                var ua = navigator.userAgent;
                var re = new RegExp("MSIE ([0-9]{1,}[\\.0-9]{0,})");
                if (re.exec(ua) != null) {
                    rv = parseFloat(RegExp.$1);
                }
                if (rv < 10) {
                    loadOutOfDateBrowserMessage();
                    $("#page-view").hide();
                    $(".page-bg-header").hide();
                    $("body").css({
                        'padding-top': 0,
                        'padding-bottom': 0
                    });
                }
            }

            //add empty event handler to fix iOS Safari click
            $('#page-view,.footer,.page-bg-header').bind('click', function () {});
        });
    </script>

</body>

</html>