<div class="oldBrowser" class="container" style="overflow: auto; padding: 15px;">
  <div class="row">
    <div class="IE8Msg col-md-offset-2 col-md-8 col-xs-12">
      <h1 class="titleHeading"> OUTDATED BROWSER</h1>
      <div style="text-align: left; font-size:20px">
        Classic Org Chart has detected that you are using an outdated version of Internet Explorer. 
        To continue accessing Classic Org Chart on Internet Explorer, you will need to upgrade to IE 10.

        <div style="text-align: left; padding-left:50px; padding-right: 50px; font-size:20px">
          <br/>
          <p>
            <b><u> Instructions to install Internet Explorer 10:</u></b>
            <ul style="list-style-type: disc; list-style-position: outside; list-style-image: none">
              <li><b><u><a class="ui-link" style="padding-right:5px"
                        href="\\efsus04\software\Webbrowsers\IE10_Regular\Automated_Prod"
                        target="_blank" >Click here</a></u>where you will be directed to EMC's internal file share folder to begin the installation process.</b></li>
              <li>Double click on Setup3264</li>
              <li>Click 'OK' on Internet Explorer 10 Installation popup window to continue installation</li>
              <li>After successful installation, you are required to reboot the system</li>
            </ul>
          </p>
        </div>
        <br />
        Classic Org Chart can also be accessed on Chrome, Firefox or Safari.  If you already have any of these browsers installed on your computer, please copy and paste this URL (<font color="#F6A70A"> https://orgchart.corp.emc.com</font>) into the other browser.
        <br /><br />If not, click on one of the corresponding icons below to install the latest version of that browser. 
        After successful installation, you can use that browser to access Classic Org Chart. 
      </div>      
    </div>
    <div class="hidden-xs col-md-2"></div>
  </div> <!-- row -->
  <br />
  <div class="row">
    <div style="text-align: center; col-md-offset-2 col-md-8 col-xs-12">
      <a class="ui-link" href="https://www.google.com/intl/en/chrome/browser/#eula" target="_blank" > 
        <img id="Chrome" alt="Chrome v.35+" src="../app/assets/Chrome.png" height="60px" />
      </a>
      <a class="ui-link" href="http://www.mozilla.org/en-US/firefox/new/" target="_blank" > 
        <img id="FF" alt="Firefox v.28+" src="../app/assets/Firefox.png" height="60px"  />
      </a>
      <a class="ui-link" href="http://support.apple.com/kb/dl1531" target="_blank" >
        <img id="IE" alt="Safari" src="../app/assets/Safari.png" height="60px"/></a>
    </div>
  </div>
</div>
