html {
  height: 100%;
}
html {
  background-image: url(../assets/background_texture.png);
  margin: 0;
  height: 100%;
}
body {
  padding-bottom: 20px;
  padding-top: 60px;
  background-color: white;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 600px) and (max-width: 1199px) {
  body {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  body {
    width: 1200px;
  }
}
#page-view {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  position: relative;
}
@media (min-width: 600px) and (max-width: 1199px) {
  #page-view {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  #page-view {
    width: 1200px;
  }
}
.main-view {
  background-color: white;
  height: 100%;
  width: 100%;
  -webkit-transform: translatez(0);
  -webkit-overflow-scrolling: touch;
}
.main {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-top: 30px;
  background-color: white;
}
@media (max-width: 768px) {
  .main {
    margin-left: -8px;
  }
}
.main .main-header {
  color: #484848;
}
/*Footer*/
.footer {
  font-size: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  clear: both;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #4e5052;
  z-index: 9999;
  height: 20px;
  line-height: 20px;
  box-sizing: border-box;
}
/*CSS for loading icon (spinner)*/
.cg-busyspinner {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 auto;
}
.cg-busyspinner .cg-busy-default-wrapper {
  position: absolute;
  top: 47% !important;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1055;
  width: 100%;
  height: 100%;
}
.cg-busyspinner .cg-busy-default-sign {
  border-top-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: white;
  background-color: #000000;
  border: 1px solid #000000;
  opacity: 0.8;
  z-index: 9999;
  width: 150px;
}
.cg-busyspinner .cg-busy-default-sign .cg-busy-default-spinner {
  position: absolute;
  width: 35px;
  height: 35px;
  display: inline-block;
  top: 8px;
  left: 18px;
}
.cg-busyspinner .cg-busy-default-sign .cg-busy-default-spinner > div {
  background: white;
}
.cg-busyspinner .cg-busy-default-sign .cg-busy-default-text {
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  margin: 16px 12px 9px 60px;
}
.cg-busyspinner .cg-busy-mobile-sign {
  border-top-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: white;
  background-color: #000000;
  border: 1px solid #000000;
  opacity: 0.8;
  z-index: 9999;
  display: inline-block;
  position: relative;
  width: 125px;
  height: 125px;
}
.cg-busyspinner .cg-busy-mobile-sign .cg-busy-android-spinner {
  position: absolute;
  width: 50px;
  height: 50px;
  display: inline-block;
  top: 30px;
  left: 36px;
}
.cg-busyspinner .cg-busy-mobile-sign .cg-busy-android-spinner > img {
  width: 50px;
}
.cg-busyspinner .cg-busy-mobile-sign .cg-busy-android-text {
  margin: 90px 15px 6px 15px;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 1;
  text-align: center;
}
.cg-busyspinner .cg-busy-mobile-sign .cg-busy-ios-spinner {
  position: absolute;
  width: 35px;
  height: 35px;
  display: inline-block;
  top: 30px;
  left: 44px;
}
.cg-busyspinner .cg-busy-mobile-sign .cg-busy-ios-spinner > img {
  width: 35px;
}
.cg-busyspinner .cg-busy-mobile-sign .cg-busy-ios-text {
  margin: 80px 15px 6px 15px;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 1;
  text-align: center;
}
.cg-busyspinner .cg-busy-background {
  background-color: #000000;
  opacity: 0.3;
}
/* Error/ Success message */
.alert {
  margin-bottom: 0 !important;
}
.alert button.close {
  height: initial !important;
}
.alert-success {
  color: #FFFFFF;
  background-color: #669933;
  border-color: #669933;
}
.alert-success > button.close {
  color: #FFFFFF;
  opacity: 0.5;
}
.alert-success > button.close:hover {
  opacity: 0.8;
}
.alert-danger {
  color: #FFFFFF;
  background-color: #df302a;
  border-color: #df302a;
}
.alert-danger > button.close {
  color: #FFFFFF;
  opacity: 0.5;
}
.alert-danger > button.close:hover {
  opacity: 0.8;
}
/* Form element */
input,
select,
button {
  height: 34px !important;
}
input {
  font-size: 12px;
  color: #494848;
  border: 1px solid #ccc;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
button.custom-app-btn {
  font-size: 16px !important;
  color: #fff;
  min-width: 75px;
  padding: 0 15px !important;
  text-align: center;
  border-radius: 0;
  word-break: keep-all;
  word-wrap: normal;
}
button.btn-primary {
  color: #fff;
  background-color: #2c95dd !important;
  border-color: #2c95dd !important;
}
button.btn-primary:hover,
button.btn-primary:focus {
  background-color: #4ea7e3 !important;
  border-color: #2c95dd !important;
}
button.btn-secondary {
  color: #fff;
  background-color: #7d7d7d !important;
  border-color: #7d7d7d !important;
}
button.btn-secondary:hover,
button.btn-secondary:focus {
  color: #fff;
  background-color: #8f8f8f !important;
}
button.btn-danger {
  color: #fff;
  background-color: #CC1200 !important;
  border-color: #d43f3a !important;
}
button.btn-danger:hover,
button.btn-danger:focus {
  background-color: #d43829 !important;
  border-color: #ac2925 !important;
}
button.btn-custom-default {
  color: #494848;
  background-color: #fff !important;
  border: 1px solid;
  border-color: #ccc !important;
}
button.btn-custom-default:hover,
button.btn-custom-default:focus {
  color: #494848;
  background-color: #fff !important;
  border-color: #adadad !important;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7 !important;
  outline: 0;
}
.dropdown-menu > .active > a .one,
.dropdown-menu > .active > a:focus .one,
.dropdown-menu > .active > a:hover .one,
.dropdown-menu > .active > a .two,
.dropdown-menu > .active > a:focus .two,
.dropdown-menu > .active > a:hover .two {
  color: #fff;
}
@media (max-device-width: 1024px) {
  select,
  input {
    height: 40px !important;
  }
  a.custom-app-btn {
    height: 40px;
    padding: 9px 15px;
  }
  button.custom-app-btn {
    height: 40px;
  }
  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  ::-webkit-scrollbar:vertical {
    width: 10px;
  }
  ::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    width: 3px;
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 4px solid transparent;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }
}
@media (max-device-width: 1024px) {
  .hidden-in-devices {
    display: none !important;
  }
}
.form-control,
.btn,
.modal-content,
.dropdown-menu,
.alert {
  border-radius: 0 !important;
}
.oldbrowserClass {
  background-color: white;
  height: 100%;
  overflow: auto;
  display: none;
}
.oldbrowserClass li a {
  color: #337ab7;
}
.oldbrowserClass li a:hover {
  color: #337ab7;
}
@media (min-width: 320px) and (max-width: 767px) {
  .pull-right-textsize {
    display: none;
  }
}
input[type="search"]::-ms-clear {
  display: none;
}
ul.dropdown-menu {
  max-height: 210px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.pageheader-text {
  color: #9cccf1;
}
.home {
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .home {
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media (min-width: 768px) and (max-width: 989px) {
  .home {
    padding-right: 23px;
    padding-left: 23px;
  }
}
@media (min-width: 1200px) {
  .home {
    padding-right: 120px;
    padding-left: 120px;
  }
}
.home-row {
  text-align: center;
}
@media (min-width: 768px) {
  .home-row {
    padding-left: 15px;
  }
}
@media (max-width: 767px) {
  .home-row-xs {
    margin-bottom: 30px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .home-row-left {
    margin-bottom: -30px;
  }
}
@media (min-width: 768px) {
  .home-row-left {
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .widget-top {
    padding-left: 0;
    background: -webkit-linear-gradient(left, #eeeeee 300px, #ffffff 300px);
    background: -moz-linear-gradient(left, #eeeeee 300px, #ffffff 300px);
    background: -ms-linear-gradient(left, #eeeeee 300px, #ffffff 300px);
    background: linear-gradient(left, #eeeeee 300px, #ffffff 300px);
    text-align: left;
    margin-bottom: 20px;
  }
  .widget-bottom {
    padding-left: 0;
  }
}
@media (min-width: 768px) and (min-width: 768px) and (max-width: 989px) {
  .widget-top {
    background: -webkit-linear-gradient(left, #eeeeee 220px, #ffffff 220px);
    background: -ms-linear-gradient(left, #eeeeee 220px, #ffffff 220px);
    background: -moz-linear-gradient(left, #eeeeee 220px, #ffffff 220px);
    background: linear-gradient(left, #eeeeee 220px, #ffffff 220px);
  }
}
.td-person,
.td-person-matrix {
  width: 33.33%;
  vertical-align: top;
  background: -webkit-linear-gradient(left, #eeeeee 300px, #ffffff 300px);
  background: -moz-linear-gradient(left, #eeeeee 300px, #ffffff 300px);
  background: -ms-linear-gradient(left, #eeeeee 300px, #ffffff 300px);
  background: linear-gradient(left, #eeeeee 300px, #ffffff 300px);
  text-align: left;
}
@media (min-width: 768px) and (max-width: 989px) {
  .td-person,
  .td-person-matrix {
    background: -webkit-linear-gradient(left, #eeeeee 220px, #ffffff 220px);
    background: -moz-linear-gradient(left, #eeeeee 220px, #ffffff 220px);
    background: -ms-linear-gradient(left, #eeeeee 220px, #ffffff 220px);
    background: linear-gradient(left, #eeeeee 220px, #ffffff 220px);
  }
}
.td-person-matrix {
  background: -webkit-linear-gradient(left, #dedede 300px, #ffffff 300px);
  background: -moz-linear-gradient(left, #dedede 300px, #ffffff 300px);
  background: -ms-linear-gradient(left, #dedede 300px, #ffffff 300px);
  background: linear-gradient(left, #dedede 300px, #ffffff 300px);
}
@media (min-width: 768px) and (max-width: 989px) {
  .td-person-matrix {
    background: -webkit-linear-gradient(left, #dedede 220px, #ffffff 220px);
    background: -moz-linear-gradient(left, #dedede 220px, #ffffff 220px);
    background: -ms-linear-gradient(left, #dedede 220px, #ffffff 220px);
    background: linear-gradient(left, #dedede 220px, #ffffff 220px);
  }
}
.td-person-bottom {
  width: 33.33%;
  vertical-align: top;
  background-color: #ffffff;
}
.td-2 {
  text-align: right;
  background: -webkit-linear-gradient(right, #ffffff, #ffffff 20px, #eeeeee 20px, #eeeeee 322px, #ffffff 300px);
  background: -moz-linear-gradient(right, #ffffff, #ffffff 20px, #eeeeee 20px, #eeeeee 322px, #ffffff 300px);
  background: -ms-linear-gradient(right, #ffffff, #ffffff 20px, #eeeeee 20px, #eeeeee 322px, #ffffff 300px);
  background: linear-gradient(right, #ffffff, #ffffff 20px, #eeeeee 20px, #eeeeee 322px, #ffffff 300px);
}
@media (min-width: 768px) and (max-width: 989px) {
  .td-2 {
    background: -webkit-linear-gradient(right, #ffffff, #ffffff 20px, #eeeeee 20px, #eeeeee 242px, #ffffff 220px);
    background: -moz-linear-gradient(right, #ffffff, #ffffff 20px, #eeeeee 20px, #eeeeee 242px, #ffffff 220px);
    background: -ms-linear-gradient(right, #ffffff, #ffffff 20px, #eeeeee 20px, #eeeeee 242px, #ffffff 220px);
    background: linear-gradient(right, #ffffff, #ffffff 20px, #eeeeee 20px, #eeeeee 242px, #ffffff 220px);
  }
}
.person-widget-2 {
  margin-right: 20px;
  display: inline-block;
}
.table-container {
  width: 100%;
  margin-bottom: 20px;
}
.table-container .column-50 {
  width: 50%;
  padding: 0;
  margin: 0;
}
.person-small-screen-first-child {
  margin-top: 30px !important;
}
.person-small-screen {
  margin-top: 15px;
  margin-bottom: 15px;
}
.person-header {
  font-family: 'Arial Regular', Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  min-height: 30px;
  text-align: center;
  color: #fff;
  background: #2b96de;
}
.person-header-A {
  background: #899d00;
}
.person-img {
  text-align: center;
  padding: 10px;
}
.person-img .div-img {
  width: 117px;
  height: 117px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  position: relative;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 117px 117px !important;
  /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
  margin: 0 auto;
}
.person-img .div-img > .overlay {
  opacity: 0;
}
.person-img .div-img:hover > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  padding: 0;
}
.person-img .div-img:hover > .overlay-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  padding: 0;
  left: 1px;
}
.person-content {
  color: #333333;
}
.bottom-panel {
  width: 300px;
}
@media (min-width: 768px) and (max-width: 989px) {
  .bottom-panel {
    width: 220px;
  }
}
@media (max-width: 767px) {
  .bottom-panel {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
.person-widget {
  display: inline-block;
  width: 300px;
  min-height: 192px;
  background-color: #eeeeee;
  padding-bottom: 10px;
}
.person-widget .clear-f {
  float: left;
}
@media (min-width: 768px) and (max-width: 989px) {
  .person-widget {
    width: 220px;
    text-align: center;
  }
  .person-widget .clear-f {
    float: none;
    clear: both;
  }
}
.person-detail {
  text-align: left;
  font-family: Arial;
  font-size: 12px;
  color: #686868;
  padding-left: 5px;
  margin-top: 20px;
}
@media (min-width: 768px) and (max-width: 989px) {
  .person-detail {
    width: 100%;
    padding-left: 15px;
    padding-right: 10px;
    margin: 0 auto;
  }
}
.person-detail-name {
  font-weight: bold;
  font-family: 'Arial Bold', 'Arial';
  font-weight: 700;
  font-size: 12px;
  color: #666666;
  display: block;
  word-wrap: break-word;
}
.person-detail-tel {
  font-size: 12px;
  color: #666666;
}
.person-detail-tel a > div {
  margin-top: -5px;
}
.person-detail-comp {
  font-weight: 400;
  font-size: 12px;
  color: #666666;
  display: block;
  word-wrap: break-word;
}
.person-detail-matrix-bar {
  background-color: #eeeeee;
  font-size: 12px;
  margin: 0;
  width: 100%;
  text-align: center;
}
.person-detail-matrix-bar-content {
  background-color: #dedede;
  padding-left: 5px;
  padding-right: 5px;
}
.matrix-text {
  line-height: 30px;
}
.svg {
  margin-bottom: 20px;
  line-height: 0;
}
.svg .svg-stroke {
  stroke: #aeaeae;
  stroke-width: 2;
}
@media (min-width: 990px) {
  .svg {
    width: 300px;
  }
}
@media (min-width: 768px) and (max-width: 989px) {
  .svg {
    width: 220px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .svg {
    margin-bottom: 0;
  }
}
.d-arrow {
  cursor: pointer;
  display: inline-block;
  margin-left: -2px;
  margin-top: -2px;
}
.top-arrow {
  margin-bottom: -2px;
}
.up-arrow {
  line-height: 33px;
  text-align: center;
}
.up-arrow img {
  cursor: pointer;
}
.svgTop {
  margin-bottom: 0;
  line-height: 0;
  text-align: center;
  background-color: #ffffff;
}
.svgTop .svg-stroke {
  stroke: #aeaeae;
  stroke-width: 2;
}
.svgBottom {
  text-align: center;
}
@media (max-width: 693px) {
  .hide-mobile {
    display: none;
  }
}
.person-detail-email,
.person-detail-tel {
  margin-top: 10px;
}
@media (min-width: 768px) and (max-width: 989px) {
  .person-detail-email,
  .person-detail-tel {
    margin-top: 10px;
  }
}
.person-detail-comp {
  margin-top: 10px;
}
@media (min-width: 768px) and (max-width: 989px) {
  .person-detail-comp {
    margin-top: 15px;
  }
}
.p-expand-2 {
  text-align: center;
  margin-left: 175px;
}
@media (min-width: 768px) and (max-width: 989px) {
  .p-expand-2 {
    margin-left: 140px;
  }
}
.vcard-download {
  padding-top: 10px;
}
.vcard-download > a > img {
  width: 20px;
  margin-top: -3px;
}
.cell-phone-download {
  width: 20px;
  margin-top: -3px;
}
.search-label {
  font-weight: normal;
  font-size: 14px;
  font-family: 'Arial Regular', 'Arial';
  color: #666666;
}
.type-ah {
  table-layout: fixed;
  word-wrap: break-word;
  white-space: normal;
}
.type-ah .one {
  padding: 0 2px;
  font-size: 14px;
  color: #000000;
}
.type-ah .two {
  padding: 0 2px;
  font-size: 13px;
  color: #666666;
}
.closeIco {
  display: none;
  position: relative;
  top: 6px;
  z-index: 10;
}
.search-input {
  color: #666666;
  width: 350px;
  background: #fff;
  border: solid 1px #ccc;
  padding: 2px;
  height: 30px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.mobile-div {
  padding: 5px 5px;
  margin: 0;
  margin-top: 3px;
}
@media (max-width: 810px) {
  .mobile-div {
    width: 100%;
  }
}
.legend-area {
  background: #eeeeee;
  padding: 0 5px;
  border-bottom: solid 1px #E1E1E1;
}
.legend-info {
  padding: 19px 7px 15px 10px;
  line-height: 17px;
}
.legend-label {
  padding-left: 10px;
  font-family: Arial;
  font-weight: normal;
  font-size: 12px;
  float: left;
  color: #686868;
  height: 15px;
}
.legend-label-admin {
  border-left: solid 10px #899d00;
}
.legend-label-direct {
  border-left: solid 10px #2b96de;
  padding-right: 20px;
}
.img-search {
  position: relative;
  top: 19px;
  display: none;
  float: right;
  width: 24px;
  height: 22px;
  margin-right: 20px;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 767px) {
  .mobile-div {
    position: absolute;
    z-index: 99;
    display: none;
    width: 97%;
    height: 45px;
    margin: 10px 0;
    padding-right: 15px;
    background: #eee;
  }
  .img-search {
    display: block;
  }
  .search-label {
    display: none;
  }
  .search-input {
    width: 100%;
    background: #fff;
    padding-left: 30px;
    height: 33px;
  }
  .closeIco {
    display: inline-block;
    position: absolute;
    padding-top: 5px;
  }
  .legend-label {
    float: none;
    clear: both;
  }
}
#nav {
  width: 100%;
}
@media (min-width: 480px) and (max-width: 767px) {
  #nav.affix-top {
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 10;
    height: 60px;
    border: 0;
  }
  #nav.affix {
    position: fixed;
    top: 0;
    z-index: 10;
  }
}
.dropdown-menu {
  padding: 0;
  width: 350px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .dropdown-menu {
    width: 300px;
  }
}
.page-bg-header {
  background-color: #4e5052;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  box-sizing: border-box;
}
.page-bg-header .emc-navbar-brand {
  padding: 0 !important;
  float: left;
  font-size: 18px;
  line-height: 20px;
  height: 60px;
}
.page-bg-header .emc-navbar-brand .emc-logo {
  text-align: center;
  padding: 0;
  background-color: #2c95dd !important;
  width: 83px;
  height: 60px;
  line-height: 68px;
}
.page-bg-header .page-header {
  color: #fff;
  background: #4e5052;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  border-radius: 0;
  border: 0;
}
.page-bg-header .pageheader-inner {
  width: 100% !important;
  padding: 0 0 0 0;
}
.page-bg-header .pageheader-container {
  padding-right: 0;
  padding-left: 0;
  position: relative;
}
@media (min-width: 600px) and (max-width: 1199px) {
  .page-bg-header .pageheader-container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .page-bg-header .pageheader-container {
    width: 1200px;
  }
}
.page-bg-header .appNameClass {
  font-family: 'Arial Narrow', 'Arial';
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  margin-top: 18px;
  margin-left: 24px;
  white-space: nowrap;
  color: #fff !important;
}
.topOfChart {
  font-size: 11px;
  font-weight: bold;
  position: fixed;
  z-index: 9999 !important;
  top: 33%;
  margin-left: 5px;
  padding: 3px;
  cursor: pointer;
  text-align: center;
  color: #2b95dd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.8);
}
