.svg-circle_arrow_down {
	background: url(svg/sprite.css.svg) 78.6470588235294% 26.96629213483146% no-repeat;
}

.svg-circle_arrow_down-dims {
	width: 32px;
	height: 32px;
}

.svg-circle_arrow_up {
	background: url(svg/sprite.css.svg) 99.56209150326796% 26.96629213483146% no-repeat;
}

.svg-circle_arrow_up-dims {
	width: 32px;
	height: 32px;
}

.svg-circle_email_black {
	background: url(svg/sprite.css.svg) 0 0 no-repeat;
}

.svg-circle_email_black-dims {
	width: 120.33px;
	height: 120.33px;
}

.svg-emc-logo {
	background: url(svg/sprite.css.svg) 99.44628099173553% 0 no-repeat;
}

.svg-emc-logo-dims {
	width: 64px;
	height: 24px;
}

.svg-icon-phone {
	background: url(svg/sprite.css.svg) 92.13043478260869% 57.7319587628866% no-repeat;
}

.svg-icon-phone-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_cross {
	background: url(svg/sprite.css.svg) 76.64331210191082% 60.215053763440864% no-repeat;
}

.svg-icon_cross-dims {
	width: 28px;
	height: 28px;
}

.svg-icon_email {
	background: url(svg/sprite.css.svg) 87.47272727272725% 78.82882882882883% no-repeat;
}

.svg-icon_email-dims {
	width: 20px;
	height: 14.44px;
}

.svg-icon_zoom {
	background: url(svg/sprite.css.svg) 74.73913043478261% 86.5979381443299% no-repeat;
}

.svg-icon_zoom-dims {
	width: 24px;
	height: 24px;
}

